* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active,
    &::after,
    &::before {
        outline: none;
        box-shadow: none;
        box-sizing: border-box;
    }
}
