<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="shortcut icon", href="../assets/img/boilerplate.png", type="image/x-icon")
  body
    h1 Home page

    a(href="/nosotros") nosotros

    img(src="../assets/img/boilerplate.png", alt="")

    include ./components/button.pug
